<div class='index-main'>
<form action="/artists" method="get">

    <input class='index-searchbar' name="search" type="text"> <br> 
    <button class='btn-peach' type="submit"> Search for an artist</button>
</form>
</div>